# Data Analysis with Pandas

## Part1

### Data Set Name : Video Game Sales - Sales data from more than 16,500 games

### Author: Niveen Alsmadi 

### Date: 21-June-2021

____________________________________________________________________________

In [42]:
import pandas as pd
import numpy as np

In [43]:
df = pd.read_csv('./vgsales.csv')

In [44]:
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

## Q1:Which company is the most common video game publisher?

In [45]:

Mostcommon_publisher = df.Publisher.mode()[0]

In [46]:
Mostcommon_publisher

'Electronic Arts'

## Q2:Whatâ€™s the most common platform?

In [47]:
common_platform=df.Platform.mode()[0]

In [48]:
common_platform

'DS'

## Q3:What about the most common genre?

In [49]:
Mostcommon_genre=df.Genre.mode()[0]

In [50]:
Mostcommon_genre

'Action'

## Q4:What are the top 20 highest grossing games?

In [51]:
highest_20=df[['Name', 'Global_Sales']].head(20)

In [52]:
highest_20

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

## Q5 : For North American video game sales, whatâ€™s the median?

In [53]:
median_NA = df['NA_Sales'].median()

In [54]:
median_NA

0.08

 ## Then Provide a secondary output showing ten games surrounding the median sales output :

In [55]:
surrounding = df[df['NA_Sales'] == df['NA_Sales'].median()][225:235].sort_values(by=['Rank'],ascending=[False])
surrounding[['Name','NA_Sales','Global_Sales']]

                                     Name  NA_Sales  Global_Sales
10029            Tony Hawk's Pro Skater 5      0.08          0.11
10026                        NBA Jam 2002      0.08          0.11
10024  Family Game Night 4: The Game Show      0.08          0.11
10022               LEGO Knights' Kingdom      0.08          0.11
10020            Phantasy Star Collection      0.08          0.11
10012                   Nickelodeon Dance      0.08          0.11
10000                      A Witch's Tale      0.08          0.11
9996           GT Advance 2: Rally Racing      0.08          0.11
9957                             Deadpool      0.08          0.12
9934                     Turok: Evolution      0.08          0.12




## Q6: For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [56]:
mean_NA=df['NA_Sales'].mean()
data_row=df['NA_Sales'].iloc[0]
std_NA=df['NA_Sales'].std()
deviations_from_mean= ((data_row-mean_NA)/std_NA)

In [57]:
deviations_from_mean

50.47898767479108

## Q7:The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [58]:
av1 =df.groupby(df['Platform'] == 'Wii')['Global_Sales'].mean()[0]
av2 =df.groupby(df['Platform'] == 'Wii')['Global_Sales'].mean()[1]
(av1,av2)

(0.5233896418516678, 0.6994037735849035)

## Q8:Come up with 3 more questions that can be answered with this data set.

#### Q8-1 : For JP video game sales, whatâ€™s the mean?

In [74]:
mean_jp = df['JP_Sales'].mean()
mean_jp

0.077781660441017

#### Q8-2 :what is the Genre for Least sale game?

In [73]:
genre_least=df[['Genre']].min()[0]
genre_least

'Action'

#### Q8-3 :what is the name for most sale game?

In [75]:

name=df[['Name']].max()[0]
name

'Â¡Shin Chan Flipa en colores!'

_____________________________________________________________________________________________________________________________________________

## Tests

In [77]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(Mostcommon_publisher,'Electronic Arts')
    assert_equal(common_platform,'DS')
    assert_equal(Mostcommon_genre, 'Action')
    assert_equal(highest_20.iloc[0].Name, 'Wii Sports')
    assert_equal(highest_20.iloc[19].Name,'Brain Age: Train Your Brain in Minutes a Day')
    assert_equal(median_NA, 0.08)
    assert_equal(deviations_from_mean,50.47898767479108)
    assert_equal(av1,0.5233896418516678)
    assert_equal(av2,0.6994037735849035)
    assert_equal(mean_jp,0.077781660441017)
    assert_equal(genre_least,'Action')
    assert_equal(name,'Â¡Shin Chan Flipa en colores!')

    print("Success!!!")

test()

Success!!!